tr:nth-child(even) {background: #d9fff8
}
tr:nth-child(odd) {background: #aed2ee
}
body{
    background: #cbe2ee;
}
.coluna-nome{
    font-family: sans-serif;
    text-align: center;
    font-size: 17px;
    width: 11%;
}
.coluna-tipo{
    font-family: sans-serif;
    text-align: center;
    font-size: 17px;
    width: 10%;
}
.coluna-descricao{
    font-family: sans-serif;
    text-align: center;
    font-size: 17px;
    width: 15%;
}
.coluna-rg{
    font-family: sans-serif;
    text-align: center;
    font-size: 17px;
    width: 11%;
}
.coluna-cpf{
    font-family: sans-serif;
    text-align: center;
    font-size: 17px;
    width: 11%;
}
.coluna-email{
    font-family: sans-serif;
    text-align: center;
    font-size: 17px;
    width: 12%;
}
.coluna-telefone{
    font-family: sans-serif;
    text-align: center;
    font-size: 17px;
    width: 8%;
}
.coluna-endereco-emissor{
    font-family: sans-serif;
    text-align: center;
    font-size: 17px;
    width: 11%;
}
.coluna-endereco-ocorrencia{
    font-family: sans-serif;
    text-align: center;
    font-size: 17px;
    width: 11%;
}

.div-lista {
    display: block;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    clear: both;
}

table {
    width: 100%;
}

thead tr, tfoot tr {
    height: 45px;
    font-size: 19px;
    background-color: #ffcecf;
    color: white;
}

tr {
    height: 40px;
    background-color: wheat;
    font-size: 18px;
}

td{
    padding-left: 10px;
}

table tr:nth-child(odd) td {
    background-color: #eeeeee;
}

table tr:nth-child(even) td {
    background-color: lightgrey;
}
#caixa-de-tabela{
    background-color: white;
    width:  520px;
    height: 480px;
    position: absolute;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #cbe2ee;
    overflow: hidden;

}
#caixacaixa-tabela-label{
    height: 47px;
    text-align: center;
    font: bold 20px/47px sans-serif;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    /*Vários Navegadores*/

    background: #ff3030; /* Old browsers */
    background: -moz-linear-gradient(top, #ff3030 0%, #f2f2f2 0%, #f2f2f2 2%, #f2f2f2 100%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff3030 0%,#f2f2f2 0%,#f2f2f2 2%,#f2f2f2 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ff3030 0%,#f2f2f2 0%,#f2f2f2 2%,#f2f2f2 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3030', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

    border-bottom: 1px solid #bfc3c5;
    box-shadow: 1px 1px 3px #dedede;
    color: #555555;
    text-shadow: 1px 0px 1px white;
}