tr:nth-child(even) {background: #d9fff8
}
tr:nth-child(odd) {background: cornflowerblue
}
body{
    width: 100%;
    height: 100%;
    background: #cbe2ee;
}
.div-lista {
    display: block;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    clear: both;
}

table {
    width: 90%;
    margin-left:5%;
}

thead tr, tfoot tr {
    height: 45px;
    font-size: 19px;
    background-color: cornflowerblue;
    color: white;
}

tr {
    height: 40px;
    background-color: wheat;
    font-size: 18px;
}

td{
    padding-left: 10px;
}

table tr:nth-child(odd) td {
    background-color: #eeeeee;
}

table tr:nth-child(even) td {
    background-color: lightgrey;
}
#caixa-de-tabela{
    background-color: white;
    width:  520px;
    height: 480px;
    position: absolute;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #cbe2ee;
    overflow: hidden;

}
#caixacaixa-tabela-label{
    height: 47px;
    text-align: center;
    font: bold 20px/47px sans-serif;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    /*Vários Navegadores*/

    background: #ff3030; /* Old browsers */
    background: -moz-linear-gradient(top, #ff3030 0%, #f2f2f2 0%, #f2f2f2 2%, #f2f2f2 100%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff3030 0%,#f2f2f2 0%,#f2f2f2 2%,#f2f2f2 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ff3030 0%,#f2f2f2 0%,#f2f2f2 2%,#f2f2f2 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3030', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

    border-bottom: 1px solid #bfc3c5;
    box-shadow: 1px 1px 3px #dedede;
    color: #555555;
    text-shadow: 1px 0px 1px white;
}


.botao2 {
    color: #555555;
    cursor: auto;
    font: bold 16px sans-serif;
    position: absolute;
    left: 170px;
    text-decoration: none;
}

.botao #botao-cadastrar {
    height: 40px;
    position: absolute;
    left: 50px;
    top: 15px;
    font: bold 16px sans-serif;
    cursor: auto;
    color: #555555;





}


.botao #botao-sair{
    height: 40px;
    position: absolute;
    left: 230px;
    top: 15px;
    font: bold 16px sans-serif;
    cursor: auto;
    color: #555555;

}
a:link{
    text-decoration: none;

}

.table{
    padding-top: 3%;
}