body{
    height: 100%;
    width: 100%;
}

.label-cadastro {
    font-size: 20px;
    color: #020000;
    margin: 0 auto;
}

.campos{
    margin-bottom: 20px;
    width: 100%;
    clear: both;
}

.formulario-cadastro{
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: #ffe3b4;
}

.esquerda{
    display: inline;
    width: 50%;
    font-size: 24px;
    font-family: "Droid Sans";
    float: left;
    padding-bottom: 10px;
}

.direita{
    display: inline;
    width: 50%;
    font-size: 24px;
    font-family: "Droid Sans";
    float: left;
    padding-bottom: 10px;
}

.descricao{
    font-size: 24px;
    font-family: "Droid Sans";
    padding-bottom: 10px;
}