body{
    background: #cbe2ee;
}
#caixa-escolher-interna{
    background-color: #a9d1e5;
    width: 900px;
    height: 560px;
    margin: 40px auto 0px;
    border-radius: 5px;

}
.input-div{
    margin: 40px;
    padding: 5px;


}
#


