.titulo{
    font-family: verdana;
    color: #070a09;
}

.logradouro_medico{
    font-size: 20px;
    font-family: verdana;
    color: #070a09;
}
.rua_medica{
    font-size: 20px;
    font-family: verdana;
    color: #070a09;
}
.cep_medico{
    font-size: 20px;
    font-family: verdana;
    color: #070a09;
}
.numero_residencia_medica{
    font-size: 20px;
    font-family: verdana;
    color: #070a09;
}
.tipo_medico{
    font-size: 20px;
    font-family: verdana;
    color: #070a09;
}