body{
    background: #cbe2ee;
}
#caixa-cadastro-externa{
    background-color: #a9d1e5;
    width: 900px;
    height: 560px;
    margin: 40px auto 0px;
    border-radius: 5px;

}
#caixa-cadastro-interno{
    background-color: white;
    width:  890px;
    height: 550px;
    position: absolute;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px black;
    overflow: hidden;
}
#caixa-ocorrencia-label{
    height: 47px;
    text-align: center;
    font: bold 23px/47px sans-serif;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    /*Vários Navegadores*/

    background: #ff3030; /* Old browsers */
    background: -moz-linear-gradient(top, #ff3030 0%, #f2f2f2 0%, #f2f2f2 2%, #f2f2f2 100%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff3030 0%,#f2f2f2 0%,#f2f2f2 2%,#f2f2f2 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ff3030 0%,#f2f2f2 0%,#f2f2f2 2%,#f2f2f2 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3030', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

    border-bottom: 1px solid #bfc3c5;
    box-shadow: 1px 1px 3px #dedede;
    color: #555555;
    text-shadow: 1px 0px 1px white;

}

.input-div{
    margin: 40px;
    padding: 5px;

}
#ocorrência-corpo_de_bombeiros-rua{
    width: 400px;
    height: 40px;
    padding-left: 5px;
    font: normal 18px sans-serif;
    color: #202123;
    border-radius: 3px;
    border: 1px solid #bfc3c5;
    outline: none;
}
#ocorrencia-corpo_de_bombeiros-numero-residencia{
    width: 150px;
    height: 40px;
    padding-left: 5px;
    font: normal 18px sans-serif;
    color: #202123;
    border-radius: 3px;
    border: 1px solid #bfc3c5;
    outline: none;
    position: absolute;
    left: 600px;
    top: 93px;

}
#ocorrencia-corpo_de_bombeiros-cep{
    width: 400px;
    height: 40px;
    padding-left: 5px;
    font: normal 18px sans-serif;
    color: #202123;
    border-radius: 3px;
    border: 1px solid #bfc3c5;
    outline: none;
    position: absolute;
    left: 42px;
    top: 195px;

}
#ocorrencia_corpo_de_bombeiros-descricao{
    width: 395px;
    height: 182px;
    padding-left: 5px;
    font: normal 18px sans-serif;
    color: #202123;
    border-radius: 3px;
    border: 1px solid #bfc3c5;
    outline: none;

    height: 182px;
    resize: none;
}
#ocorrencia-corpo_de_bombeiros-tipo-ocorrencia{
    width: 200px;
    height: 40px;
    padding-left: 5px;
    font: normal 18px sans-serif;
    color: #202123;
    border-radius: 3px;
    border: 1px solid #bfc3c5;
    outline: none;
    position: absolute;
    left: 600px;
    top: 195px;
}


#usuario-senha{

}
#botoes{
    width: 50px;
    margin-left: 25px;
}
#botao{
    position: absolute;
    left: 650px;
    top: 400px;
    padding: 10px 25px;
    font: bold 12px sans-serif;
    border-radius: 20px;
    text-shadow: 0px 1px 0px white;
    border:1px solid #c6e1eb;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3030+0,edf6f9+0,cde5ee+100,cde5ee+100 */
    background: #ff3030; /* Old browsers */
    background: -moz-linear-gradient(top, #ff3030 0%, #edf6f9 0%, #cde5ee 100%, #cde5ee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff3030 0%,#edf6f9 0%,#cde5ee 100%,#cde5ee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ff3030 0%,#edf6f9 0%,#cde5ee 100%,#cde5ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3030', endColorstr='#cde5ee',GradientType=0 ); /* IE6-9 */

    color: #527988;
    box-shadow: 0px 0px 10px #c9c9c9;
}
#botao:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cde5ee+0,cde5ee+0,edf6f9+100,ff3030+100 */
    background: #cde5ee; /* Old browsers */
    background: -moz-linear-gradient(top, #cde5ee 0%, #cde5ee 0%, #edf6f9 100%, #ff3030 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cde5ee 0%, #cde5ee 0%, #edf6f9 100%, #ff3030 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cde5ee 0%, #cde5ee 0%, #edf6f9 100%, #ff3030 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cde5ee', endColorstr='#ff3030', GradientType=0); /* IE6-9 */

    cursor: pointer;
}
#nav{
    width: 100%;
    height: 60px;
    border-radius: 5px;
    background: #e3f765;
}
#nav ul{
    list-style: none;
}
#nav ul li{
    margin: 10px;
}

#nav ul  .sair{
    position: absolute;
    left: 90%;

}
#nav ul .home{
    position: absolute;
    left: 10%;

}
#nav ul .policial{
    position: absolute;
    left: 40%;

}

#nav ul .medico{
    position: absolute;
    left: 50%;

}

#nav ul .defesa-civil{
    position: absolute;
    left: 60%;

  }




