.lab {
    color: #030101;

}

.lab{ font-size: 30px;
      font-family: verdana;}

.labe {
    font-size: 30px;
    font-family: verdana;

}
.labe{
    color: #070a09;
}
.lab1 {
    color: #030101;

}

.lab1{ font-size: 30px;
    font-family: verdana;}

.labe1 {
    font-size: 30px;
    font-family: verdana;

}
.labe1{
    color: #070a09;
}



