
.lab {
    font-size: 20px;
    font-family: verdana;
    color: #030101;
}
.labe {
    font-size: 20px;
    font-family: verdana;
    color: #070a09;
}

.lab1 {
    font-size: 20px;
    font-family: verdana;
    color: #030101;
}
.labe1 {
    font-size: 20px;
    font-family: verdana;
    color: #030101;
}

.label-ocorrencia {
    font-size: 20px;
    font-family: verdana;
    color: #070a09;

}

.labeltitulo {
    font-size: 40px;
    font-family: verdana;
    color: #030101;

}


