body{
    background-color: #e0e8ce;
}
.botao1{
    background-color: #ffe3b4;
    margin-bottom: 200px;
    padding: 5px;
    margin-left: 100px;
    vertical-align: -15%;
    font-size: 30px;
    width: 200px;
    height: 50px;
    color: #030101;
    opacity: 0.9;
    border: 3px double #030101;

}
.botao2{
    background-color: #ffe3b4;
    margin-bottom: 200px;
    padding: 5px;
    margin-left: 100px;
    vertical-align: -15%;
    font-size: 30px;
    width: 200px;
    height: 50px;
    color: #030101;
    opacity: 0.9;
    border: 3px double #030101;

}
.botao3{
    background-color: #ffe3b4;
    margin-bottom: 200px;
    padding: 5px;
    margin-left: 100px;
    vertical-align: -15%;
    font-size: 30px;
    width: 200px;
    height: 50px;
    color: #030101;
    opacity: 0.9;
    border: 3px double #030101;

}
.botao4{
    background-color: #ffe3b4;
    padding: 5px;
    margin-bottom: 200px;
    margin-left: 100px;
    vertical-align: -15%;
    font-size: 30px;
    width: 200px;
    height: 50px;
    color: #030101;
    opacity: 0.9;
    border: 3px double #030101;

}

